/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
.container {
    margin: 0 auto;
    max-width: 75rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.home {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
    flex-direction: column;
    font-family: 'roboto slab', serif;
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-text h1 {
    color: #2d2e32;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.hero-text p {
    color: #555;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-icons {
    display: flex;
    gap: 3rem;
    font-size: 3rem;
    margin-top: 2rem;
}

.hero-icons i {
    color: #2d2e32;
}

.hero-img {
    background-image: url(linus.jpg);
    background-repeat: no-repeat;
    background-image: fit-content;
    height: 25rem;
    position: relative;
    background-size: cover;
    width: 100%;
    background-position: center;
    border-radius: 5%;
}

.logos {
    display: flex;
    gap: 1.5rem;
    position: relative;
    flex-direction: row;
    font-size: 5rem;
}

.skills {
    align-items: center;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    width: 100%;
}

.skills p {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}

.skills i:nth-child(1) {
    color: #E44D26;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.skills i:nth-child(2) {
    color: #3498DB;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.skills i:nth-child(3) {
    color: #F39C12;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.skills i:nth-child(4) {
    color: #61DAFB;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.skills i:nth-child(5) {
    color: #68A063;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/* BURGER MENU */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
    font-family: 'poppins', sans-serif;
    background-color: #0C2D57;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-item {}

.nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    color: #FC6736;
}

/* Media queries */
@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
        padding-top: 2rem;
    }

    .hero-main {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
        padding-top: 2rem;
    }

    .hero-icons {
        gap: 1.6rem;
        justify-content: center;
    }

    .skills {
        flex-direction: column;
        position: static;
    }

    .skills p {
        border-bottom: 2px solid rgba(45, 46, 50, .5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }

    .hero-img {
        height: 20rem;
        width: 24rem;
    }

    .container {
        background-color: #f9f9f9;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}




@media only screen and (max-width: 900px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #0C2D57;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1;
        gap: 0rem;
    }

    .nav-link {
        color: #fff;
        font-size: 2rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-left: auto;
        padding-right: 1rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}