/* Reset styles */
* {
	box-sizing:border-box;
	margin:0;
	padding: 0;
}
/* Global styles */
.container {
	margin:auto;
	max-width:75rem;
	padding-left:8rem;
	padding-right: 8rem;
}
/* BURGER MENU */
li {
	list-style:none;
}
a {
	text-decoration:none;
}
.header {
	font-family:'poppins',sans-serif;
	background-color:#FFF;
	box-shadow:0 0 10px rgba(0,0,0,.09);
	z-index:1;
	width:100%;
	position:fixed;
}
.navbar {
	display:flex;
	justify-content:flex-end;
	align-items:center;
	height:4rem;
	margin-right:2rem;
}
.nav-link i {
	margin-right:0.5rem;
}
.hamburger {
	display:none;
}
.bar {
	display:block;
	width:25px;
	height:3px;
	margin:5px auto;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	background-color:#2d2e32;
}
.nav-menu {
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:3rem;
}
.nav-link {
	font-size:1.2rem;
	font-weight:500;
	color:#2d2e32;
}
.nav-link:hover {
	color:#0D9276;
}
.home {
	background-color:#f9f9f9;
	display:flex;
	flex-direction:column;
	position:relative;
	width:100%;
	height:100vh;
}
.hero-content {
	align-items:center;
	display:flex;
	gap:5rem;
	justify-content:center;
	position:relative;
	flex-direction:column;
	font-family:'roboto slab',serif;
	height:40rem;
	margin-top:4rem;
}
.dontclick {
	position:relative;
	left:280px;
	bottom:10px;
	transform:rotate(20deg);
}
.hero-main {
	align-items:center;
	display:flex;
	gap:4rem;
	justify-content:center;
	position:relative;
}
.hero-text {
	display:flex;
	flex-direction:column;
	position:relative;
}
.hero-text h1 {
	color:#2d2e32;
	font-family:'Poppins',sans-serif;
	font-size:3.5rem;
	line-height:1.2;
	margin-bottom:2rem;
	margin-top:2rem;
}
.hero-text p {
	color:#555;
	font-size:1.2rem;
	font-weight:500;
	line-height:1.6;
}
.hero-icons {
	display:flex;
	gap:3rem;
	font-size:3rem;
	margin-top:2rem;
}
.hero-icons i:hover {
	color:#0D9276;
}
.hero-icons i {
	color:#2d2e32;
}
@keyframes floating {
	0% {
		transform:translateY(0);
		box-shadow:0 5px 15px rgba(0,0,0,0.3);
	}
	50% {
		transform:translateY(-5px);
		box-shadow:0 10px 20px rgba(0,0,0,0.3);
	}
	100% {
		transform:translateY(0);
		box-shadow:0 5px 15px rgba(0,0,0,0.3);
	}
}
.hero-main img {
	background-image:url(img/linus.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:25rem;
	width:100%;
	background-position:center;
	border-radius:5%;
	position:relative;
	animation:floating 3s ease-in-out infinite;
}
.skills {
	align-items:center;
	display:flex;
	font-size:1.5rem;
	justify-content:flex-start;
	width:100%;
}
.skills p {
	border-right:2px solid rgba(45,46,50,.5);
	color:#2d2e32;
	font-family:'Poppins',sans-serif;
	font-weight:600;
	margin-right:7rem;
	padding-right:2rem;
}
.skills-icons {
	display:flex;
	gap:1rem;
	justify-content:center;
	cursor:pointer;
}
.skills img {
	height:3.1rem;
	transition:transform 0.3s ease-in-out;
}
.skills img:hover {
	transform:scale(1.3);
}
.about-content {
	display:flex;
	gap:4rem;
	justify-content:space-between;
	align-items:center;
	padding:10rem 0;
}
.about-content img {
	background-image:url(img/linus3.jpg);
	height:25rem;
	object-fit:cover;
	width:50%;
	border-radius:5%;
}
.about-text {
	width:50%;
	display:flex;
	flex-direction:column;
}
.about h2 {
	color:#0D9276;
	font-family:'Poppins',sans-serif;
	font-size:1.5rem;
	line-height:1.2;
	margin-bottom:0.25rem;
}
.about p {
	color:#555;
	font-size:1.2rem;
	font-weight:500;
	line-height:1.6;
	font-family: 'roboto slab',serif;
}
/* Projekt */
.project {
	background-color:#f9f9f9;
	padding: 10rem 0;
}
.project-card {
	display:flex;
	justify-content:space-between;
	background-color:#FFF;
	border-radius:1rem;
	/* Runda hörn */
	box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.project-info {
	display:flex;
	flex-direction:column;
	padding:2rem;
	width:100%;
	justify-content:space-evenly;
}
.project-description h3 {
	color:#0D9276;
	font-size:1.4rem;
	font-family:'Poppins',sans-serif;
	margin-bottom:0.25rem;
}
.project-description p {
	color:#555;
	font-size:1.1rem;
	line-height:1.5;
	font-family:'roboto slab',serif;
	margin-bottom:1rem;
}
.tool {
	background-color:#0D9276;
	padding:0.3rem;
	color:#f9f9f9;
	margin-left:2px;
	margin-right:0.55rem;
	font-size:1rem;
	border-radius:0.5rem;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.project-buttons {
	display:flex;
	gap:2rem;
	font-family:'Poppins',sans-serif;
}
.preview-button,.github-button {
	padding:0.75rem 1.5rem;
	border:none;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	gap:0.3rem;
	border-radius:0.5rem;
	cursor:pointer;
	text-decoration:none;
	color:#fff;
	font-size:1rem;
	font-weight:600;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	transition:background-color 0.3s ease;
}
.preview-button {
	background-color:#333;
}
.github-button {
	background-color:#333;
}
.preview-button:hover,.github-button:hover {
	background-color:#0D9276;
}
.project-card img {
	width:45%;
	border-radius:0rem 1rem 1rem 0rem;
	object-fit:cover;
}
.contact {
	background-color:#fff;
	align-items:center;
	padding:6rem 0;
	font-family:'roboto slab',serif;
}
.contact-content {
	display:flex;
	flex-direction:column;
	gap:3rem;
	text-align:left;
}
.contact-info {
	display:flex;
	gap:4rem;
	text-align:left;
}
.contact-text {
	font-size:1.2rem;
	line-height:1.6;
	color:#555;
	display:flex;
	gap:1rem;
	align-items:center;
}
.contact-content h3 {
	color:#0D9276;
	font-size:1.5rem;
	font-family:'Poppins',sans-serif;
}
.contact-content p {
	color:#555;
	font-size:1.2rem;
	line-height:1.6;
	font-weight:700;
}
.contact-info i {
	align-items:center;
	background-color:#fff;
	border-radius:50%;
	box-shadow:0 0 10px rgba(0,0,0,.1);
	color:#0D9276;
	display:flex;
	font-size:1.5rem;
	height:3.5rem;
	justify-content:center;
	width:3.5rem;
}
.contact-title {
	display:flex;
	flex-direction:column;
	gap:1rem;
}
.footer {
	background-color:#2d2e32;
	color:#fff;
	padding-top:3rem;
	padding-bottom:3rem;
	text-align:center;
	font-family:'poppins',serif;
}
.footer-links {
	display:flex;
	gap:2rem;
	justify-content:center;
}
.footer-links a {
	color:#fff;
	font-size:1.8rem;
}
.footer-links a:hover {
	color:#436850;
}
.footer-content {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
@media screen and (max-width:900px) {
	.hero-content {
		flex-direction:column;
		gap:3rem;
		height:auto;
		text-align:center;
		margin-top:8rem;
	}
	.hero-main {
		flex-direction:column-reverse;
		gap:0rem;
		height:auto;
		text-align:center;
	}
	.home {
		height:auto;
		padding-bottom:3rem;
	}
	.hero-icons {
		gap:1.6rem;
		justify-content:center;
	}
	.skills {
		flex-direction:column;
		position:static;
	}
	.skills p {
		border-bottom:2px solid rgba(45,46,50,.5);
		border-right:none;
		margin-bottom:3rem;
		margin-right:0;
		padding-bottom:1rem;
		padding-right:0;
	}
	.hero-main img {
		height:20rem;
		width:100%;
		object-fit:cover
	}
	.container {
		padding-left:2rem;
		padding-right:2rem;
		max-width:100%;
		padding-top:0;
	}
	.about-content {
		align-items:center;
		flex-direction:column;
		gap:0rem;
		height:auto;
		text-align:center;
		padding-top:3rem;
		padding-bottom: 3rem;
	}
	.about-content h2 {
		margin-bottom:1rem;
		margin-top:1.5rem;
	}
	.about-text {
		width:100%;
	}
	.about-content img {
		height:20rem;
		width:100%;
	}
}
@media only screen and (max-width:900px) {
	.nav-menu {
		position:fixed;
		left:-100%;
		top:3rem;
		flex-direction:column;
		background-color:#fff;
		width:100%;
		border-radius:10px;
		text-align:center;
		transition:0.3s;
		box-shadow:0 10px 27px rgba(0,0,0,0.05);
		z-index:1;
		gap:0rem;
	}
	.nav-link {
		color:#2d2e32;
		font-size:1.5rem;
	}
	.nav-menu.active {
		left:0;
	}
	.nav-item {
		margin:1.5rem 0;
	}
	.hamburger {
		display:block;
		cursor:pointer;
		margin-left:auto;
		padding-right:1rem;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity:0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform:translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform:translateY(-8px) rotate(-45deg);
	}
	.contact-info {
		flex-direction:column;
		gap:2rem;
		text-align:center;
	}
	.skills-icons {
		gap:0.5rem;
	}
	.skills img {
		height:3.2rem;
	}
}
@media screen and (max-width:600px) {
	.footer-content {
		flex-direction:column;
		gap:2rem;
	}
}
@media (max-width:900px) {
	.project-card {
		flex-direction:column;
		align-items:center;
	}
	.project-card img {
		height:20rem;
		width:100%;
		border-radius:0rem 0rem 1rem 1rem;
	}
	.tool {
		margin-right: 0rem;
		margin-left: 0rem;
	}
	.project-buttons {
		gap: 1rem;
		
	}

	.project {
		padding-top:3rem;
		padding-bottom: 3rem;
	}
}